<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorReorder</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="styled">
                <span class="oi oi-heart" aria-hidden="true"></span> Styled
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BetweenLists">
                <span class="oi oi-loop" aria-hidden="true"></span> BetweenLists
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Callbacks">
                <span class="oi oi-action-undo" aria-hidden="true"></span> Callbacks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Disabled">
                <span class="oi oi-ban" aria-hidden="true"></span> Disabled
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="NestedLists">
                <span class="oi oi-ban" aria-hidden="true"></span> Nested Lists
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
