
.item {
    cursor: move;
    user-select: none;

    &:hover {
            background: #ffffe0;
        }
    }
        .active {
            background: #ccc;
        }
.dragging {
    background: #e0ffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    position: absolute;
    z-index: 999;
}
